<div id="sidebar" class="bg-light">
  <ul class="nav flex-column">
    <li class="nav-item py-1">
      <button class="btn btn-light w-100 text-left" [routerLink]="['/calculadora']">
        <a class="nav-link text-dark font-weight-bold">
          <fa-icon class="mr-3" [icon]="faCalculator"></fa-icon>Calculadora
        </a>
      </button>
    </li>
    <li class="nav-item py-1">
      <button class="btn btn-light w-100 text-left" [routerLink]="['/historico']">
        <a class="nav-link text-dark font-weight-bold">
          <fa-icon class="mr-3" [icon]="faHistory"></fa-icon>Histórico
        </a>
      </button>
    </li>
    <li class="nav-item py-1">
      <button class="btn btn-light w-100 text-left" [routerLink]="['/integrantes']">
        <a class="nav-link text-dark font-weight-bold">
          <fa-icon class="mr-3" [icon]="faUsers"></fa-icon>Integrantes
        </a>
      </button>
    </li>
  </ul>
</div>
